<!-- views/admin_property.ejs -->
<% const title='Tenants' ; %>
    <%- include('header_admin.ejs', { title: title}) %>

        <div id="panel">
            <h1 class="text-center mb-4">Tenants</h1>
            <div id="tenant-buttons" class="text-center mt-5 mb-3"> <!-- Ajoutez la classe mb-3 pour la marge en bas -->
                <button class="btn btn-primary" onclick="location.href='../admin/tenant/add'">Add</button>
            </div>
        </div>

        <div class="container mb-4">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>User ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < tenants.length; i++) { %>
                        <tr>
                            <td>
                                <%= tenants[i].id %>
                            </td>
                            <td>
                                <%= tenants[i].FirstName %>
                            </td>
                            <td>
                                <%= tenants[i].LastName %>
                            </td>
                            <td>
                                <%= tenants[i].Email%>
                            </td>
                            <td>
                                <%= tenants[i].PhoneNumber %>
                            </td>
                            <td>
                                <%= tenants[i].user_id %>
                            </td>
                            <td>
                                <form method="post" action="/admin/tenant/delete"
                                    onsubmit="return confirmDelete('<%= tenants[i].id %>');">
                                    <button type="button"
                                        onclick="location.href='/admin/tenant/edit/<%= tenants[i].id %>'"
                                        class="btn btn-primary">Edit</button>
                                    <input type="hidden" name="id" value="<%= tenants[i].id %>">
                                    <button type="submit" class="btn btn-danger">Delete</button>

                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

        <script>
            function confirmDelete(tenantId) {
                var confirmResult = confirm("Are you sure you want to delete this tenant ? it will delete all the related leases and payments");

                // If user clicks "OK", continue with form submission
                return confirmResult;
            }
        </script>