<% const title='User' ; %>
    <%- include('header_admin.ejs', { title: title}) %>

        <div id="panel">
            <h1 class="text-center mb-4">Users</h1>
            <div id="user-buttons" class="text-center mt-5 mb-3"> <!-- Ajoutez la classe mb-3 pour la marge en bas -->
                <button class="btn btn-primary" onclick="location.href='../admin/user/add'">Add</button>
            </div>
        </div>

        <div class="container mb-4">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>User rôle</th>
                        <th>Password</th> <!-- New column for the delete button -->
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < users.length; i++) { %>
                        <tr>
                            <td>
                                <%= users[i].user_id %>
                            </td>
                            <td>
                                <%= users[i].user_name %>
                            </td>
                            <td>
                                <%= users[i].user_email %>
                            </td>
                            <td>
                                <%= users[i].user_role %>
                            </td>
                            <td>
                                <%= users[i].user_pass %>
                            </td>
                            <td>
                                <form method="post" action="/admin/user/delete"
                                    onsubmit="return confirmDelete('<%= users[i].id %>');">
                                    <button type="button"
                                        onclick="location.href='/admin/user/edit/<%= users[i].id %>'"
                                        class="btn btn-primary">Edit</button>
                                    <input type="hidden" name="id" value="<%= users[i].id %>">
                                    <button type="submit" class="btn btn-danger">Delete</button>

                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

        <script>
            function confirmDelete(UserId) {
                var confirmResult = confirm("Are you sure you want to delete this Uer ?");

                // If user clicks "OK", continue with form submission
                return confirmResult;
            }
        </script>