<!-- views/admin_property.ejs -->
<% const title='Properties' ; %>
    <%- include('header_admin.ejs', { title: title}) %>

        <div id="panel">
            <h1>Properties</h1>
            <div id="tenant-buttons">
                <button class="action-button add-button" onclick="location.href='../admin/property/add'">Add</button>
                <button class="action-button edit-button" onclick="location.href='../admin/property/edit'">Edit</button>
                <!-- No need for a separate delete button here -->
            </div>
        </div>

        <div class="container">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Zip Code</th>
                        <th>Number of Bedrooms</th>
                        <th>Number of Bathrooms</th>
                        <th>Rent</th>
                        <th>Landlord ID</th>
                        <th>Action</th> <!-- New column for the delete button -->
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < properties.length; i++) { %>
                        <tr>
                            <td>
                                <%= properties[i].id %>
                            </td>
                            <td>
                                <%= properties[i].Address %>
                            </td>
                            <td>
                                <%= properties[i].City %>
                            </td>
                            <td>
                                <%= properties[i].ZipCode %>
                            </td>
                            <td>
                                <%= properties[i].NumberOfBedrooms %>
                            </td>
                            <td>
                                <%= properties[i].NumberOfBathrooms %>
                            </td>
                            <td>
                                <%= properties[i].Rent %>
                            </td>
                            <td>
                                <%= properties[i].id_Landlords %>
                            </td>
                            <td>
                                <!-- Form for the delete button -->
                                <form method="post" action="/admin/property/delete">
                                    <input type="hidden" name="id" value="<%= properties[i].id %>">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>