<!-- views/admin_property.ejs -->
<% const title='Property edit' ; %>
    <%- include('header_admin.ejs', { title: title}) %>


        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="mb-4">Property Edit</h1>
                    <form action="/admin/property/update/<%= property.id %>" method="post">
                        <div class="mb-3">
                            <input type="text" id="Address" name="Address" class="form-control" placeholder="Adress"
                                value="<%= property.Address %>" />
                        </div>
                        <div class="mb-3">
                            <input type="text" id="City" name="City" class="form-control" placeholder="City"
                                value="<%= property.City %>" />
                        </div>
                        <div class="mb-3">
                            <input type="number" id="ZipCode" name="ZipCode" class="form-control" placeholder="ZipCode"
                                required min="0" value="<%= property.ZipCode %>" />
                        </div>
                        <div class="mb-3">
                            <input type="number" id="NumberOfBedrooms" name="NumberOfBedrooms" class="form-control"
                                placeholder="NumberOfBedrooms" required min="0"
                                value="<%= property.NumberOfBedrooms %>" />
                        </div>
                        <div class="mb-3">
                            <input type="number" id="NumberOfBathrooms" name="NumberOfBathrooms" class="form-control"
                                placeholder="NumberOfBathrooms" required min="0"
                                value="<%= property.NumberOfBathrooms %>" />
                        </div>
                        <div class="mb-3">
                            <input type="number" id="Rent" name="Rent" class="form-control" placeholder="Rent" required
                                min="0" value="<%= property.Rent %>" />
                        </div>
                        <div class="mb-3">
                            <input type="number" id="LandlordId" name="LandlordId" class="form-control"
                                placeholder="Landlord ID" required min="0" value="<%= property.id_Landlords %>" />
                        </div>

                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-success btn-lg">Modify</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </body>

        </html>