<% const title = 'Search Results'; %>
<%- include('header_user.ejs', { title: title }) %>

<div class="container">
    <h1>Search Results</h1>

    <% if (properties.length === 0) { %>
        <h2 class="text-center">no properties available</h2>
    <% } else { %>
        <div class="row">
            <% properties.forEach(property => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <!-- Ajoutez la balise pour afficher l'image -->
                        <img src="<%= property.Image %>" class="card-img-top" alt="Property Image">

                        <div class="card-body">
                            <h5 class="card-title">
                                <%= property.Rent %> €/month<!-- Formatez le loyer -->
                            </h5>
                            <p class="card-text"><strong>City:</strong>
                                <%= property.City %>, <%= property.ZipCode %>
                            </p>
                            <!-- Ajoutez le code pour afficher uniquement le Rent -->
                            <p class="card-text"><strong>Address:</strong>
                                <%= property.Address %>
                            </p>
                            <div class="mt-4 text-center">
                                <a href="/property/<%= property.id %>/booking" class="btn btn-primary btn-lg">Book
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>

    <%- include('footer_user.ejs') %>
</div>
